@{
    ViewData["Title"] = "Confirmação de Conta";
    @* Layout = "~/Views/Shared/_LayoutAccount.cshtml"; *@
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css">
}

<div class="form-register">
    <div class="text-center">
        <img src="~/img/logo.png" alt="Logo" width="250">
        <h1 class="my-3">Quase pronto!!</13>
        <h3 class="my-3 fw-normal">Acesse o email informado para concluir a criação de sua conta</h3>
    </div>
</div>
    
	

-- Abrir e alterar o arquivo HomeController.cs:
using System.Diagnostics;
using Microsoft.AspNetCore.Mvc;
using GalloFlix.Models;
using GalloFlix.Data;
using Microsoft.EntityFrameworkCore;

namespace GalloFlix.Controllers;

public class HomeController : Controller
{
    private readonly ILogger<HomeController> _logger;
    private readonly AppDbContext _context;

    public HomeController(ILogger<HomeController> logger, AppDbContext context)
    {
        _logger = logger;
        _context = context;
    }

    public IActionResult Index()
    {
        var movies = _context.Movies.Include(m => m.Genres).ThenInclude(g => g.Genre).ToList();
        return View(movies);
    }

    public IActionResult Privacy()
    {
        return View();
    }

    [ResponseCache(Duration = 0, Location = ResponseCacheLocation.None, NoStore = true)]
    public IActionResult Error()
    {
        return View(new ErrorViewModel { RequestId = Activity.Current?.Id ?? HttpContext.TraceIdentifier });
    }
}